body{
  background-color: #000814;
  letter-spacing: 1px;
}
.nav-header{
    /* padding: 10px 20px; */
    /* border-bottom: solid 3px #6713CD; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.profile, .history, .abilities, .socials  {
    background-color: #6713CD;
    border: 5px solid #fcfcfc;
    color: #89FC00;
    padding: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    box-shadow: 8px 8px 10px ; 
}

.profile h3 {
text-align: left;
}

.profile-pic {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 3px dotted #E6BCCD;
}

.my-skills,.my-contacts {
  text-align: center;
}

.link {
  color: #fcfcfc;
}

h3 {
  color: #E6BCCD;
  font-family: Orbitron;
  font-size: 15px;
}

h2 {
  color: #89FC00;
  font-family: Tourney;
  font-size: 30px;
  text-align: left;
}

.logo{
  color: #fcfcfc;
  font-size: 65px;
}

p {
  color: #fcfcfc;
}

li {
  display: inline;
  padding-right: 5rem;
  text-decoration: none;
  list-style: none;
  color: #E6BCCD;
  font-size: 20px;
  
}

  .copyright  {
    text-align: center;
  }