*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000814;
  letter-spacing: 1px;
}

img{
  width:100%;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;
    position: sticky;
    top: 0;
   background-color: #000814;
}

.profile, .history, .abilities, .socials  {
    background-color: #6713CD;
    border: 5px solid #fcfcfc;
    color: #89FC00;
    padding: 20px;
    width: 80%;
    margin:25px auto 0 auto;
    gap: 20px;
    box-shadow: 8px 8px 10px; 
}

#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-projects  {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.my-projects img  {
max-width: 200px;
display: flex;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: .7em;
}

.contact-list, a  {
color:  #fcfcfc;
text-decoration: none;
}

nav a { 
    color:  #89FC00;
    text-decoration: none;
}

.personal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-pic {
    border-radius: 40%;
    width: 300px;
    height: 300px;
    border: 3px dotted #89FC00;
}

.skill-list, .contact-list {
text-align: center;
display: flex;
list-style-type: none ;
justify-content: space-between;
margin-top: 50px;
}

.bio {
    max-width: 50%;
    text-align: justify;
}

h3 {
  color: #E6BCCD;
  font-family: Orbitron;
  font-size: 15px;
}

h2 {
  color: #89FC00;
  font-family: Tourney;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

.logo{
  color: #fcfcfc;
  font-size: 65px;
}

p {
color: #fcfcfc;
line-height: 10px;
}

li {
  color: #E6BCCD;
  font-size: 20px;
  text-align: center;
}

.copyright  {
    text-align: center;
    margin-top: 50px;
}


@media screen and (max-width:768px) {
  
  .nav-header {
  flex-direction: column;
  gap: 20px;
}
  
  
  .personal {
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
  }

  .bio {
    max-width:85% ;
  }

.skill-list, .contact-list {
flex-direction: column;
gap: 15px
}

}