*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000814;
  letter-spacing: 1px;
}

img{
  width:100%;
}

.logo {
  color: #fcfcfc;
  font-size: 80px;
  padding: 30px;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 5px; */
    position: sticky;
    top: 0;
    background-color: #000814;
    border-bottom: 2px solid seashell;
}

.container, .about-info, .soft-skills  {
    background-color: #6713CD;
    border: 6px solid #fcfcfc;
    color: #89FC00;
    padding: 30px;
    width: 80%;
    margin:50px auto 0 auto;
    gap: 30px;
    box-shadow: 10px 10px 12px; 
    flex-grow: 0;

    /* align-items: center;
    justify-content: center; */
    
}

.container-2  {
    background-color: #6713CD;
    border: 6px solid #fcfcfc;
    color: #89FC00;
    padding: 20px;
    margin:50px 50px;
    gap: 30px;
    box-shadow: 10px 10px 15px; 
    /* justify-content: space-around; */
   flex-grow: 0;
}

/* .location {
  width: 250px;
  height: 250px;
  padding: 15px;
  background-color: black;
  text-align: center;
  margin-bottom: 30px;
} */

#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-projects  {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: .7em;
}

.contact-list, a  {
color:  #fcfcfc;
text-decoration: none;
}

nav a { 
    color:  #89FC00;
    text-decoration: none;
    font-size: 30px;
    padding: 30px;
}

.personal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.dnd-character  {
 display: flex;
 height: 400px;
 width: 300px;
}

.profile-pic {
    border-radius: 40%;
    width: 300px;
    height: 300px;
    border: 3px dotted #89FC00;
}

.my-projects img  {
max-width: 200px;
display: flex;
}

.skill-list, .contact-list {
text-align: center;
display: flex;
list-style-type: none ;
justify-content: space-between;
margin-top: 50px;
}

.list, .soft-list  {
text-align: center;
/* display: flex; */
list-style-type: none ;
/* justify-content: space-between; */
margin-top: 25px;
}

.bio {
    max-width: 50%;
    text-align: justify;
}

.background, h3 {
margin-top: 20px;
/* align-items: end; */
/* justify-content: end; */
}

h3 {
  color: #E6BCCD;
  font-family: Orbitron;
  font-size: 20px;
  text-align:center
}

h2, .about-me {
  color: #89FC00;
  font-family: Tourney;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

p {
color: #fcfcfc;
line-height: 10px;
font-size: 20px;
}

li {
  color: #E6BCCD;
  font-size: 30px;
  text-align: center;
}

.copyright  {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.about-info {
  display: flex;
  align-items: center;
  text-align: justify;
}

.list-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 65px auto;
  padding: 65px;
  gap: 30px;
}

/* .location {
  width: 250px;
  height: 250px;
  padding: 15px;
  background-color: black;
  text-align: center;
  margin-bottom: 30px;
} */

/* .tea-of-the-month {
  margin: 65px auto;
}

.tea-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.tea-item img {
  width: 300px;
  height: 200px;
  padding: 10px;
  justify-content: space-around;
}
.tea-item h4{
  margin:0;
} */


@media screen and (max-width:768px) {
  
  .nav-header {
  flex-direction: column;
  gap: 20px;
}

  .personal, .my-projects, .about-info {
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
  }

  .bio {
    max-width:85% ;
  }

.skill-list, .contact-list {
flex-direction: column;
gap: 15px
}

}