*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000814;
  letter-spacing: 1px;
}

img{
  max-width: 100%;
  height: auto;
}

.logo {
  color: #fcfcfc;
  font-size: 3rem;
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #000814;
    border-bottom: 2px solid seashell;
    padding: 30px;
}
nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    font-size: .7em;
}

nav a { 
    color:  #89FC00;
    text-decoration: none;
    font-size: 2rem;
}

.container, .about-info, .soft-skills  {
    background-color: #6713CD;
    border: 6px solid #fcfcfc;
    color: #89FC00;
    padding: 30px;
    width: 80%;
    margin:50px auto 0 auto;
    gap: 30px;
    box-shadow: 10px 10px 12px; 
    justify-content: center;
}
.container-2  {
  flex-basis: 450px;
  flex-grow: 1;
  background-color: #6713CD;
  border: 6px solid #fcfcfc;
  color: #89FC00;
  padding: 20px;
  box-shadow: 10px 10px 15px;
  align-items: center;
    width: 80%;
}
.container-3  {
  margin:50px;
  justify-content: center;
  background-color: #6713CD;
  border: 6px solid #fcfcfc;
  color: #89FC00;
  padding: 20px;
  box-shadow: 10px 10px 15px;
  align-items: center;
}
.about-text {
  font-size: 1.7rem;
  color: #E6BCCD;
  line-height: 2.2rem;
  float: left;
}

.about-info {
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.list-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 65px auto;
  padding: 65px;
  gap: 65px;
}

#projects {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.my-projects  {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.contact-list, a  {
color:  #fcfcfc;
text-decoration: none;
}

.personal {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-pic{
    border-radius: 40%;
    width: 400px;
    height: 400px;
    border: 2px dotted #89FC00;
}

.my-projects img  {
  max-width: 200px;
  display: block;
}

.skill-list, .contact-list {
text-align: center;
display: flex;
list-style-type: none ;
justify-content: space-between;
margin-top: 50px;
}

.list, .soft-list  {
text-align: center;
list-style-type: none ;
margin-top: 25px;
}

.bio {
    max-width: 50%;
    text-align: justify;
     color: #E6BCCD;
     font-size: 2rem;
}
.dnd-character  {
display: flex;
width: 400px;
padding: 20px;
 
}

.orbitron-text, .copyright {
  color: #E6BCCD;
  font-family: Orbitron;
  font-size: 1.3rem;
  text-align:center;
  line-height: 2rem;
  margin-top: 20px;
  font-weight: bold;
}


h2, .about-me {
  color: #89FC00;
  font-family: Tourney;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
}

p {
color: #fcfcfc;
line-height: 10px;
font-size: 20px;
}

li {
  color: #E6BCCD;
  font-size: 30px;
  text-align: center;
}
 
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}



@media screen and (max-width:900px) {
  
  .nav-header {
  flex-direction: column;
  gap: 20px;
}

  .personal, .my-projects, .about-info {
    flex-direction: column;
    gap: 35px;
    margin-top: 40px;
  }

  .bio {
    max-width:85% ;
  }

.skill-list, .contact-list {
flex-direction: column;
gap: 15px;
}

}