body{
  background-color: #000814;
}
.nav-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links  {
color: #6713CD;
}

.skills {
  text-align: center;
}

h3 {
  color: #E6BCCD;
  font-family: Orbitron;
}

h2 {
  color: #89FC00;
  font-family: Tourney;
}

.logo{
  color: #fcfcfc;
}

li {
  display: inline;
  padding-right: 5rem;
  text-decoration: none;
  list-style: none;
  color: #6713CD;
  
}

  .copyright  {
    text-align: center;
  }